a {
    color: blue;
}

body div h1 {
    text-align: center;
    border-bottom: 1px solid gray;
}

.img {
    width: 64px;
    height: 64px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
}

.p1 {
    background: url(/Icons/angry.png)
}

.p2 {
    background: url(/Icons/happy.png)
}

.p3 {
    background: url(/Icons/love.png)
}

.UserBlock {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    width: 255px;
}

.UserDetail {
    display: inline-block;
    margin-left: 15px;
}

.UserError {
    color: red;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}